@using Objects

@{
    ViewBag.Title = "Main Page";
}


<div class="row main">
    <div class="col-md-2"><h3 align="left">TALAS</h3><h4 align="left">MONITORING</h4></div>
    <div class="col-md-8">
        <span class="CharOverride-36">@ViewBag.Greeting</span>
        <div class="divAlert">
            <span class="spanLabelAlert">@Ajax.ActionLink("New alerts &" + "\n" + "notification", "", new AjaxOptions { UpdateTargetId = "content", Url = "/Engine/Messages?showAll=1", OnSuccess = "hideWorkInfo()" })</span>
            <label class="CharOverride-24 labelAlert">0</label>
        </div> 
    </div>
        
    <div class="col-md-2">
        <button type="button" data-toggle="dropdown" class="btn btn-user dropdown-toggle"><span class="caret"></span> @ViewBag.UserName </button>
        <ul class="dropdown-menu ">
            <li>
                <a href="#">Settings</a>
            </li>
            <li>
                @Html.ActionLink("Log out", "Logoff", "Account")
            </li>
        </ul>
    </div>

</div>
<div class="row main-body">
    <div class="col-md-2">
        <ul class="nav nav-stacked">
            <li class="buttonNav">
                @Ajax.ActionLink("Dashboard", "Index", new AjaxOptions { UpdateTargetId = "content", Url = "/Home/Engine",OnSuccess = "hideWorkInfo()" })
            </li>
        </ul>
    </div>
    <div class="col-md-8 tables" id="content">
          
    </div>

    <div class="col-md-2 text-left CharOverride-32">
    Location <br />
        <p class="CharOverride-16">@ViewBag.Location</p>
        <div class="hidden CharOverride-16" id="workInfo">
            <p class="CharOverride-14">Total Operating Hours</p>
            <div class="timeWork" id="work"></div>
            <p class="CharOverride-14">Stand by Hours</p>
            <div class="timeWork" id="notWork"></div>
        </div>
    </div>

</div>

@section Footer{
    <footer class="footer"></footer>
}

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/TalasJS.js")
    @Scripts.Render("~/Scripts/Highcharts-4.0.1/js/highcharts.js")
}






