@RenderBody()        
<div class="row buttons">
    <div class="col-md-3  buttonNav">@Html.ActionLink("Warings & Notifications", "Logoff", "Account")</div>
    <div class="col-md-3  buttonNav">@Html.ActionLink("Operation Hours", "Logoff", "Account")</div>
    <div class="col-md-3  buttonNav">@Html.ActionLink("Insulation Resistance", "Logoff", "Account")</div>
</div>
<div class="row buttons">
    <div class="col-md-3  buttonNav">@Html.ActionLink("Polarization Index", "Logoff", "Account")</div>
    <div class="col-md-3  buttonNav">@Html.ActionLink("Drying Actions", "Logoff", "Account")</div>
    <div class="col-md-3  buttonNav">@Html.ActionLink("Data Transfer History", "Logoff", "Account")</div>
</div>
       
