<div class="row buttons">
        <ul class="nav nav-stacked callOnChanheDatePicker">
            <li class="col-md-3 buttonNav">
                @Ajax.ActionLink("Warings and" + "\n" + " Notifications", "", new AjaxOptions {})
            </li>
            <li class="col-md-3 buttonNav">
                @Ajax.ActionLink("Operation" + "\n" + "Hours", "", new AjaxOptions { UpdateTargetId = "content2", Url = "/Engine/EngineStates?id=" + @Model.Id + "&mode=2", OnSuccess = "onSuccess(2)" })
            </li>
            <li class="col-md-3 buttonNav">
                @Ajax.ActionLink("Insulation" + "\n" + " Resistance", "",  new AjaxOptions { UpdateTargetId = "content2", Url = "/Engine/EngineStates?id="+ @Model.Id + "&mode=3", OnSuccess = "onSuccess(3)" })
            </li>
        </ul>

    </div>
    <div class="row buttons">
        <ul class="nav nav-stacked callOnChanheDatePicker">
            <li class="col-md-3 buttonNav">
                @Html.ActionLink("Polarization" + "\n" + " Index", "", "")
            </li>
            <li class="col-md-3 buttonNav">
                @Ajax.ActionLink("Drying" + "\n" + " Actions", "", new AjaxOptions { UpdateTargetId = "content2", Url = "/Engine/EngineStates?id=" + @Model.Id+ "&mode=5", OnSuccess = "onSuccess(5)" })
            </li>
            <li class="col-md-3 buttonNav">
                @Ajax.ActionLink("Data Transfer" + "\n" + " History", "", new AjaxOptions { UpdateTargetId = "content2", Url = "/Engine/EngineStates?id=" + @Model.Id + "&mode=6", OnSuccess = "onSuccess(6)" })
            </li>
        </ul>
    </div>