    <div class="row buttons">
        <ul class="nav nav-stacked">
            <li class="col-md-3 buttonNav">
                @Html.ActionLink("Warings and" + "\n" + " Notifications", "", "")
            </li>
            <li class="col-md-3 buttonNav">
                @Html.ActionLink("Operation" + "\n" + "Hours", "", "")
            </li>
            <li class="col-md-3 buttonNav">
                @Html.ActionLink("Insulation" + "\n" + " Resistance", "", "")
            </li>
        </ul>

    </div>
    <div class="row buttons">
        <ul class="nav nav-stacked">
            <li class="col-md-3 buttonNav">
                @Html.ActionLink("Polarization" + "\n" + " Index", "", "")
            </li>
            <li class="col-md-3 buttonNav">
                @Html.ActionLink("Drying" + "\n" + " Actions", "", "")
            </li>
            <li class="col-md-3 buttonNav">
                @Html.ActionLink("Data Transfer" + "\n" + " History", "", "")
            </li>
        </ul>
    </div>