@using Objects
@model Engine

<div class="row">
    <div class="col-md-4 CharOverride-24 text-left motorName">
        Motor @Model.Name <br />Pulp Dryer, Fan
            
    </div>
    <div class="col-md-8 ">  
        @using (Ajax.BeginForm("", "", null, new AjaxOptions { UpdateTargetId = "content2", Url = "/Engine/EngineStates/" + @Model.Id }, new { @class = "text-right" }))
        {
            <span>
                <input class="datepicker" type="text"  name="dateStart" placeholder="From" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                <input class="datepicker" type="text"  name="dateFinish" placeholder="To" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                <input id="show" type="submit" value="Show" class="btn-user"/>
            </span>
        }
    </div>
</div>

<div class="row" id="content2">
    <div class="col-md-12">
        <table class="tableInfoEngine text-left">
            <tr class="border_bottom">
                <td>Type</td>
                <td>@Model.Type</td>
            </tr>
            <tr class="border_bottom">
                <td>Power</td>
                <td>@Model.Power</td>
            </tr>
            <tr class="border_bottom">
                <td>Voltage</td>
                <td>@Model.Voltage</td>
            </tr>
            <tr class="border_bottom">
                <td>Manufacture date</td>
                <td>@Model.ManufactureDate</td>
            </tr>
            <tr class="border_bottom">
                <td>Installation date</td>
                <td>@Model.InstallationDate</td>
            </tr>
        </table>
    </div>
</div>

@Html.Partial("~/Views/Engine/DownButtons.cshtml")




