@using Objects
@model Engine

<div class="row">
    <div class="col-md-5 CharOverride-30 text-left motorName">
        Motor @Model.Name <br /><div class="CharOverride-12">Pulp Dryer, Fan</div>
    </div>
    <div class="col-md-7" id="_idContainer004">       
        @{Html.RenderPartial("DatePicker");}
    </div>
</div>

<div class="row" id="content2">
    <div class="col-md-6">
        <table class="tableInfoEngine text-left">
            <tr class="border_bottom">
                <td>Type</td>
                <td>@Model.Type</td>
            </tr>
            <tr class="border_bottom">
                <td>Power</td>
                <td>@Model.Power</td>
            </tr>
            <tr class="border_bottom">
                <td>Voltage</td>
                <td>@Model.Voltage</td>
            </tr>
            <tr class="border_bottom">
                <td>Manufacture date</td>
                <td>@Model.ManufactureDateString</td>
            </tr>
            <tr class="border_bottom">
                <td>Installation date</td>
                <td>@Model.InstallationDateString</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <form action="/Engine/Download" method="post">
            <span>
                <input id="datepicker" class="text-center  datepicker" type="text" name="dateStart" placeholder="From"  />
                <input id="datepicker" class="text-center  datepicker" type="text" name="dateFinish" placeholder="To"  />
            </span>
            @Html.HiddenFor(x=>x.Id)
            <button type="submit" class="btn btn-user btn-download">Download Report</button>
        </form>
    </div>
</div>

@Html.Partial("~/Views/Engine/DownButtons.cshtml")

<script>
    $(document).ready(function () {
        
        $('.datepicker').datepicker({
            format: 'dd.mm.yyyy'
        });
        //$('#show').click();
    });
</script>


