@using Objects
@model Engine
@{
    ViewBag.Title = "Details Information Engine";
}
<h1 align="center">@ViewBag.Greeting</h1>
<h3 align="center">Electric Motors</h3>

<div class="">
    <table>
        <tr><td>Type</td><td>@Model.Type</td></tr>
        <tr><td>Power</td><td>@Model.Power</td></tr>
        <tr><td>Voltage</td><td>@Model.Voltage</td></tr>
        <tr><td>Manufacture date</td><td>@Model.ManufactureDate</td></tr>
        <tr><td>Installation date</td><td>@Model.InstallationDate</td></tr>
    </table>
</div>

@using (Ajax.BeginForm("Graph", new AjaxOptions { UpdateTargetId = "overview" }))
{
    <input type="hidden" name="idEngine" value=@Model.Id>
    <p class="graphSelect">
        <input type="month" id="calendar" ; name="calendar">
        <input id="graph" type="submit" class="" value="Select">
    </p>
}
<div id="overview" style="width: 1200px; height: 450px;">

</div>

    @using (Ajax.BeginForm("EngineStates", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="hidden" name="idEngine" value=@Model.Id>
        <p>Start Date: <input type="date" id="datepicker" name="dateStart" /></p>
        <p>Finish Date: <input type="date" id="datepicker" name="dateFinish" /></p>
        <input id="select" type="submit" value="Select" />
    }
    <div id="results">

    </div>

@Html.ActionLink("Download", "Download", "Engine", null, new { @id = "donwload" })
@Html.ActionLink("Back", "Index", "Home")
@Html.ActionLink("Exit", "Logoff", "Account")

@section Scripts {
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/TalasEngineStateJS.js")
@Scripts.Render("~/Scripts/Highcharts-4.0.1/js/highcharts.js")
}

